<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>Collect 5 apples</string>
		<key>objectType</key>
		<string>item</string>
		<key>actionType</key>
		<string>collect</string>
		<key>amount</key>
		<string>5</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Walk to the Dark Village</string>
		<key>actionType</key>
		<string>reach</string>
		<key>objectType</key>
		<string>place</string>
		<key>amount</key>
		<string>0</string>
	</dict>
</array>
</plist>
